:root {
  --black: #17212b;
  --white: #ffffff;
  --blue-70: #102c43;
  --blue-60: #1976b9;
  --blue-50: #2e90d1;
  --blue-40: #77beea;
  --blue-30: #b7ddf2;
  --blue-20: #d9eef9;
  --blue-10: #f4f8fb;
  --green-70: #1d5c3a;
  --green-60: #2d8650;
  --green-50: #48a868;
  --green-40: #76c68e;
  --green-30: #b9e5c7;
  --green-20: #e3f5e8;
  --green-10: #f2fbf4;
  --indigo-70: #173b57;
  --indigo-60: #285b7e;
  --indigo-50: #397da8;
  --indigo-40: #77aecd;
  --indigo-30: #bfdcec;
  --indigo-20: #e8f4fa;
  --indigo-10: #f4f9fc;
  --red-70: #8e3030;
  --red-60: #c74444;
  --red-50: #d94c4c;
  --red-40: #e98282;
  --red-30: #f5bcbc;
  --red-20: #fbe4e4;
  --red-10: #fff3f3;
  --yellow-70: #102c43;
  --yellow-60: #1976b9;
  --yellow-50: #2e90d1;
  --yellow-40: #77beea;
  --yellow-30: #b7ddf2;
  --yellow-20: #d9eef9;
  --yellow-10: #f4f8fb;
  --gray-70: #263746;
  --gray-60: #4c6273;
  --gray-50: #657787;
  --gray-40: #adc0cb;
  --gray-30: #d6e1e7;
  --gray-20: #e8eff3;
  --gray-10: #f4f7f9;
  --text-black: var(--black);
  --text-white: var(--white);
  --text-blue-60: var(--blue-60);
  --text-blue-40: var(--blue-40);
  --text-green-60: var(--green-60);
  --text-green-40: var(--green-40);
  --text-indigo-60: var(--indigo-60);
  --text-indigo-40: var(--indigo-40);
  --text-red-60: var(--red-60);
  --text-red-40: var(--red-40);
  --text-yellow-60: var(--yellow-60);
  --text-yellow-40: var(--yellow-40);
  --text-gray-70: var(--gray-70);
  --text-gray-60: var(--gray-60);
  --text-gray-50: var(--gray-50);
  --text-gray-40: var(--gray-40);
  --icon-black: var(--black);
  --icon-white: var(--white);
  --icon-blue-60: var(--blue-60);
  --icon-blue-50: var(--blue-50);
  --icon-green-60: var(--green-60);
  --icon-green-50: var(--green-50);
  --icon-indigo-60: var(--indigo-60);
  --icon-indigo-50: var(--indigo-50);
  --icon-red-60: var(--red-60);
  --icon-red-50: var(--red-50);
  --icon-yellow-60: var(--yellow-60);
  --icon-yellow-50: var(--yellow-50);
  --icon-gray-70: var(--gray-70);
  --icon-gray-60: var(--gray-60);
  --icon-gray-50: var(--gray-50);
  --icon-gray-40: var(--gray-40);
  --color-primary: var(--blue-60);
  --color-primary-foreground: var(--white);
  --color-secondary: var(--indigo-60);
  --color-secondary-foreground: var(--white);
}
